<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/cs s2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>Mi Ciudad</title>
</head>
<body>
    <nav>
        <div class="navbar-container">
            <img src="MiCiudadLogo.png" alt="Logo" class="navbar-logo">
            <ul class="navbar-menu">
                <li><a href="#">Opci贸n 1</a></li>
                <li><a href="#">Opci贸n 2</a></li>
                <li><a href="#">Opci贸n 3</a></li>
            </ul>
            <button class="login-btn">Iniciar Sesi贸n</button>
        </div>
    </nav>
</body>