@{
    ViewData["Title"] = "Home - MiCiudad";

}
    <nav>
        <div class="navbar-container">
            <img src="MiCiudadLogo.png" alt="Logo" class="navbar-logo">
            <ul class="navbar-menu">
                <li><a href="#">Opci贸n 1</a></li>
                <li><a href="#">Opci贸n 2</a></li>
                <li><a href="#">Opci贸n 3</a></li>
            </ul>
            <button class="login-btn">Iniciar Sesi贸n</button>
        </div>
    </nav>