

@{
    ViewData["Title"] = "Log In";
    var Mensaje = ViewBag.MensajeError;
}
<body>

    <div class="form-container">
        <h2 class="Titulo">INICIAR SESIÓN</h2>
        <form asp-action="#" id="LogInForm" asp-controller="" method="post" 
        action='@Url.Action("ValidacionLogIn","Account")'>
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" required>

            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña" required>
            <p id="mostrarError"> 
            @Mensaje
            </p> 
            <a class = "olvido"href="@Url.Action("OlvidePassword", "Account")">¿Olvidó su contrseña?</a>

            <div class="buttons">
                <a href="@Url.Action("Registro", "Account")" class="atras">Crear Cuenta</a>
                <button type="submit" onclick="ValidarLogIn()" class="siguiente"> Siguiente </button>
            </div>
        </form>
    </div>
</body>
</html>

