

@{
    ViewData["Title"] = "Log In - MiCiudad";
    var Mensaje = ViewBag.MensajeError;
}

<html>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

<body>
 <div class="formu">
    <div class="form-container">
        <button onclick="ValidarLogIn()">boton</button>
       
         <h2 class="Titulo"> INICIAR SESIÓN  </h2>
         
         <form  id="LogInForm" method="post" action='@Url.Action("TraerDatos","Account")' onsubmit="return ValidarLogIn()">
       

         
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" required>

            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña" required>
            <p id="mostrarError"> 
            @Mensaje
            </p> 
            <a class = "olvido"href='@Url.Action("OlvidePassword", "Account")'>¿Olvidó su contrseña?</a>

            <div class="buttons">
                <a href = '@Url.Action("Registro", "Account")' class="atras">Crear Cuenta</a>
                <button type="submit" class="siguiente" > Siguiente </button>
            </div>
            
        </form>
    </div>
    </div>

    
     <script src="~/js/site.js" asp-append-version="true"></script>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

 <script src="~/js/utils.js" asp-append-version="true"></script> 

</body>


 </html>