

@{
    ViewData["Title"] = "Log In";

}

<!-- <div>
<h1> Iniciar sesión </h1> 
<form id="loginForm" asp-controller="Account" asp-action="Ingresar" method="post">
    <div>
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" required />
    </div>

    <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required />
        <p id=""> </p> 
    </div>
    <a href src="blank" > ¿Olvidó su contraseña? </a> 
    <h6 class="btn btn-light" onclick="location.href='@Url.Action("RecuperarContraseña", "Account")'>¿Olvidó su contraseña?</h6> 
  

    !--Botón que llama a la función de JavaScript para validar la contraseña -->
</form>
<div> 

<div class="form-container">
        <h2 class="Titulo">INICIAR SESIÓN</h2>
        <form id="LogInForm" asp-controller="" asp-action="#" method="post">
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" required>

            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña" required>
            <p id= "mostarError"> 

            </p>  

            <a class = "olvido" href="OlvidoContraseña.html">¿Olvidó su contrseña?</a>

            <div class="buttons">
                <a href="Registro.cshtml" class="atras">Crear Cuenta</a>
                    <button type="button" onclick="ValidarLogIn()"class="siguiente" >Ingresar</button>
            </div>
        </form>
    </div>


