

@{
    ViewData["Title"] = "Log In";

}

<div>
<h1> LOG IN </h1> 
<form id="loginForm" asp-controller="Account" asp-action="Ingresar" method="post">
    <div>
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" required />
    </div>

    <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <a href src="blank" > ¿Olvidó su contraseña? </a> 
    <button class="btn btn-light" onclick="location.href='@Url.Action("RecuperarContraseña", "Account")'">¿Olvidó su contraseña?</button>

    <h6> </h6> 
  

    <!-- Botón que llama a la función de JavaScript para validar la contraseña -->
    <button type="button" onclick="Validar()">Ingresar</button>
</form>
<div> 
