@{
    ViewData["Title"] = "MiCuenta - MiCiudad";
    var Usuario = ViewBag.Usuario; 
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiCuenta - MiCiudad</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body >
<header>
    <h2 class="Titulo">MiCuenta</h2>
</header>

    
 <a href = '@Url.Action("Logout", "Account")' class="chau">Cerra Sesión</a>       

       
     <script src="~/js/site.js" asp-append-version="true"></script>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

 <script src="~/js/utils.js" asp-append-version="true"></script>
</body>