@{
    ViewData["Title"] = "Recuperar cuenta - MiCiudad";
    var MensajeError = ViewBag.MensajeError;
    var MensajeCodigo = ViewBag.MensajeCodigo;
}
<div class="form-container">
        <h2 class="Titulo">RECUPERAR CUENTA</h2>
        <form action='@Url.Action("ValidacionOlvidePassword","Account")'>
            <label for="usuario">Usuario </label>
            <input type="text" id="usuario" name="usuario" required>

            <p> Le enviaremos un mail a la dirección registrada con este usuario. </p> 
           
            <div class="buttons">
                <a href="LogIn.cshtml" class="atras">Atrás</a>
                <button type="button" onclick="ValidarUsuario()" class="siguiente">Siguiente</button>
            </div>
            </form>
            <form action='@Url.Action("ValidacionOlvidePasswordCod","Account")'>
            <div id="parte2" style="display:none"> 
            <input type="hidden" name="codigoGenerado" id="codigoGenerado" value="@MensajeCodigo" >
            @if(MensajeCodigo != null){
                @MensajeCodigo;
            }
            
            <label for="código">Código de recuperación </label>
            <input type="text" id="códigoIngresado" name="códigoIngresado" required>
            <button type="submit" onclick="ValidarCodigo()" class="siguiente">Ingresar</button>
            </div>
            
        </form>
        <p id="mostrarError"> 
            @MensajeError
            </p> 
</div>