@{
    ViewData["Title"] = "Recuperar cuenta - MiCiudad";
    var MensajeError = ViewBag.MensajeError;
    var MensajeCodigo = ViewBag.MensajeCodigo;
}

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

<div class="form-container">
        <h2 class="Titulo">RECUPERAR CUENTA</h2>
        <div class="formu"> 
        <form action='@Url.Action("ValidacionOlvidePassword","Account")' id="OlvidePassForm" onsubmit=" return ValidarCodigo()">
        
            <label for="usuario">Usuario </label>
            <input type="text" id="usuario" name="usuario" required>

            <p> Le enviaremos un mail a la dirección registrada con este usuario. </p> 
         
            <div id="parte2" style="display:none"> 
            <input type="hidden" name="codigoGenerado" id="codigoGenerado" value="@MensajeCodigo" >
            @if(MensajeCodigo != null){
                @MensajeCodigo;
            }
            
            <label for="código">Código de recuperación </label>
            <input type="text" id="códigoIngresado" name="códigoIngresado" required>
            <button type="submit" class="siguiente">Ingresar</button>
            </div>
            
        </form>

        
        <div class="buttons" id="parte1">
            <a href="LogIn.cshtml" class="atras">Atrás</a>
            <button data-toggle="" onclick="ValidarUsuario('usuario')"  class="siguiente">Siguiente</button> 
        </div>
        |
        <p id="mostrarError"> 
            @MensajeError
            </p> 
            </div>
</div>