@{
    ViewData["Title"] = "Recuperar cuenta - MiCiudad";
    var MensajeError = ViewBag.MensajeError;
    var MensajeCodigo = ViewBag.MensajeCodigo;
}



<div class="formu"> 
<div class="form-container">
    <h2 class="Titulo">RECUPERAR CUENTA</h2>
    
    <form action='@Url.Action("ValidacionOlvidePassword","Account")' id="OlvidePassForm" onsubmit=" return ValidarCodigo()">
        <div id="parte1">
            <label for="usuario">Usuario </label>
            <input type="text" id="usuario" name="usuario" required>

            <p> Le enviaremos un mail a la dirección registrada con este usuario. </p> 

            <div class="buttons">
                <a href="LogIn.cshtml" class="atras">Atrás</a>
                <button onclick="ValidarExistenciaUsuario('usuario')"  class="siguiente">Siguiente</button> 
            </div>
        </div>

        <div id="parte2" style="display:none"> 
            <input type="hidden" name="codigoGenerado" id="codigoGenerado" value="@MensajeCodigo" > 
            @if(MensajeCodigo != null){
                //Funciona si está entre comillas la variable en el value?
                @MensajeCodigo;
            }
            
            <label for="código">Código de recuperación </label>
            <input type="text" id="códigoIngresado" name="códigoIngresado" required>
            <button type="submit" class="siguiente">Ingresar</button>

            <div class="buttons" id="parte1">
                <a href="LogIn.cshtml" class="atras">Atrás</a>
                <button type="submit" class="siguiente" > Siguiente </button>
            </div>
        </div>
        <p id="mostrarError"> 
            @MensajeError
        </p> 
    </form>
    </div>
</div>