@{
    ViewData["Title"] = "Log In";

}
<div class="form-container">
        <h2 class="Titulo">RECUPERAR CUENTA</h2>
        <form action="#">
            <label for="email">Mail</label>
            <input type="email" id="email" name="email" required>

            <div class="buttons">
                <a href="LogIn.html" class="atras">Atrás</a>
                <button type="submit" class="siguiente">Siguiente</button>
            </div>
        </form>
</div>