@{
    ViewData["Title"] = "Log In";

}
<div class="form-container">
        <h2 class="Titulo">RECUPERAR CUENTA</h2>
        <form action="#">
            <label for="usuario">Usuario </label>
            <input type="text" id="usuario" name="usuario" required>

            <p> Le enviaremos un mail a la dirección registrada con este usuario. </p> 
            <div class="buttons">
                <a href="LogIn.cshtml" class="atras">Atrás</a>
                <button type="button" onclick="ValidarUsuario()" class="siguiente">Siguiente</button>
            </div>

            <div id="parte2" style="display:none"> 
            <label for="código">Código de recuperación </label>
            <input type="number" id="código" name="código" required>
            </div>
        </form>
</div>