USE [master]
GO
/****** Object:  Database [MiCiudad]    Script Date: 29/11/2024 09:07:10 ******/
CREATE DATABASE [MiCiudad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiCiudad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MiCiudad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiCiudad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MiCiudad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiCiudad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiCiudad]
GO
/****** Object:  User [alumno]    Script Date: 29/11/2024 09:07:10 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BARRIO]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BARRIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[CodigoPostal] [nvarchar](20) NULL,
	[Comuna] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUADRA]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUADRA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Campo] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDIFICIO]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDIFICIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [nvarchar](100) NULL,
	[Altura] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO_BARRIO]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_BARRIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idBarrio] [int] NULL,
	[Campo] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO_CONTACTOS]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_CONTACTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[FechaDeCreacion] [date] NULL,
	[CantDeMiembros] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO_CONTACTOS_X_VECINO]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_CONTACTOS_X_VECINO](
	[idGrupoContactos] [int] NOT NULL,
	[idVecino] [int] NOT NULL,
	[FechaIngreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idGrupoContactos] ASC,
	[idVecino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO_CUADRA]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_CUADRA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idCuadra] [int] NULL,
	[Campo] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO_EDIFICIO]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_EDIFICIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idEdificio] [int] NULL,
	[Campo] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJE_BARRIO]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJE_BARRIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idGrupo] [int] NULL,
	[idUsuario] [int] NULL,
	[Hora] [datetime] NULL,
	[Contenido] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJE_CUADRA]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJE_CUADRA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idGrupo] [int] NULL,
	[idUsuario] [int] NULL,
	[Hora] [datetime] NULL,
	[Contenido] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJE_EDIFICIO]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJE_EDIFICIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idGrupo] [int] NULL,
	[idUsuario] [int] NULL,
	[Hora] [datetime] NULL,
	[Contenido] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 29/11/2024 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Contraseña] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Altura] [int] NULL,
	[Calle] [nvarchar](100) NULL,
	[DNI] [nvarchar](20) NULL,
	[Mail] [nvarchar](100) NULL,
	[Patente] [nvarchar](10) NULL,
	[idGrupoServicios] [int] NULL,
	[idGrupoEdificio] [int] NULL,
	[idGrupoBarrio] [int] NULL,
	[idGrupoCuadra] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID], [Nombre], [Apellido], [Contraseña], [UserName], [Altura], [Calle], [DNI], [Mail], [Patente], [idGrupoServicios], [idGrupoEdificio], [idGrupoBarrio], [idGrupoCuadra]) VALUES (1, N'Lola', N'Nieto', N'Holaa1234', N'LolaN', 240, N'Yatay', N'329713789', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[GRUPO_BARRIO]  WITH CHECK ADD FOREIGN KEY([idBarrio])
REFERENCES [dbo].[BARRIO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO_CONTACTOS_X_VECINO]  WITH CHECK ADD FOREIGN KEY([idGrupoContactos])
REFERENCES [dbo].[GRUPO_CONTACTOS] ([ID])
GO
ALTER TABLE [dbo].[GRUPO_CONTACTOS_X_VECINO]  WITH CHECK ADD FOREIGN KEY([idVecino])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO_CUADRA]  WITH CHECK ADD FOREIGN KEY([idCuadra])
REFERENCES [dbo].[CUADRA] ([ID])
GO
ALTER TABLE [dbo].[GRUPO_EDIFICIO]  WITH CHECK ADD FOREIGN KEY([idEdificio])
REFERENCES [dbo].[EDIFICIO] ([ID])
GO
ALTER TABLE [dbo].[MENSAJE_BARRIO]  WITH CHECK ADD FOREIGN KEY([idGrupo])
REFERENCES [dbo].[GRUPO_BARRIO] ([ID])
GO
ALTER TABLE [dbo].[MENSAJE_BARRIO]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[MENSAJE_CUADRA]  WITH CHECK ADD FOREIGN KEY([idGrupo])
REFERENCES [dbo].[GRUPO_CUADRA] ([ID])
GO
ALTER TABLE [dbo].[MENSAJE_CUADRA]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[MENSAJE_EDIFICIO]  WITH CHECK ADD FOREIGN KEY([idGrupo])
REFERENCES [dbo].[GRUPO_EDIFICIO] ([ID])
GO
ALTER TABLE [dbo].[MENSAJE_EDIFICIO]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([idGrupoServicios])
REFERENCES [dbo].[GRUPO_CONTACTOS] ([ID])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([idGrupoEdificio])
REFERENCES [dbo].[GRUPO_EDIFICIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([idGrupoBarrio])
REFERENCES [dbo].[GRUPO_BARRIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([idGrupoCuadra])
REFERENCES [dbo].[GRUPO_CUADRA] ([ID])
GO
USE [master]
GO
